@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
/* ff 3.6+ */
  background:-moz-radial-gradient(circle at 50% 50%, rgba(61, 39, 123, 1) 0%, rgba(0, 1, 66, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 50% 50%, rgba(61, 39, 123, 1) 0%, rgba(0, 1, 66, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 50% 50%, rgba(61, 39, 123, 1) 0%, rgba(0, 1, 66, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 50% 50%, rgba(61, 39, 123, 1) 0%, rgba(0, 1, 66, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 50% 50%, rgba(61, 39, 123, 1) 0%, rgba(0, 1, 66, 1) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
